<?xml version="1.0"?>

<model>
  <name>MetroTech 5 Basement STL</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>H. Utku Unlu</name>
    <email>utku@nyu.edu</email>
  </author>

  <description>
    Basement of NYU Tandon's 5 MetroTech building in STL
  </description>
</model>
