<?xml version="1.0"?>

<model>
  <name>MetroTech 5 Basement</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>H. Utku Unlu</name>
    <email>utku@nyu.edu</email>
  </author>

  <description>
    Basement of NYU Tandon's 5 MetroTech building
  </description>
</model>
